/* #about {
    height: 100px;
} */
#about-row {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    align-items: center;
}


#about-h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
}

#about-h5 {
    color: gray;
    font-family: 'Raleway', sans-serif;
}

#about-p {
    text-align: left;
    color: gray;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 20px;
}


#about-btn {
    width: 200px;
    height: 60px;
    border-color: grey !important;
    color: grey;
    background-color: transparent;
    margin-bottom: 2%;
    font-size: 16px;
}

#about-btn:hover {
    background-color: orange;
    color: white;
    border-color: orange !important;
}