
  .navbar-brand, .nav-link, .navbar-toggler {
    font-family: 'Raleway', sans-serif; 
  }

  .nav-link {
    color: lightgrey !important;
  }
  
  .navbar-brand {
    color: azure !important;
  }
  
  .nav-link:hover {
    color:orangered !important;
  }
  
  .navbar-toggler-icon {
    background-color: aliceblue;  
  }

  nav{
    background-color: transparent;
  }
  
.scrolled {
    background-color: white;
    transition: 1.5s ease-out;
  }

  .logo, .Navlink {
    color: black !important;
  }
  

  @media(max-width: 915px) {
    nav {
      background-color: black !important;
      /* margin: 0 !important; */

    }
    .scrolled{
      background-color: white !important;
    }
  }